<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean class="in.swdhin.springdemo1" id="servletdemo">
		<property name="name" value="Swadhin"></property>
		<property name="rollno" value="101"></property>
		<property name="email" value="sswadhin250@gmail.com"></property>

	</bean>
	<bean class="in.swdhin.springdemo1" id="servletdemo1">
		<property name="name" value="tikun"></property>
		<property name="rollno" value="102"></property>
		<property name="email" value="tikun@gmail.com"></property>

	</bean>


</beans>